.red
{
	color: #D44950;
}

.orange
{
	color: #C30;
}

.darkBlue
{
	color: #2F6F9F;
}

.lightBlue
{
	color: #4F9FCF;
}

.cyan
{
	color: #099;
}

.green {
    color: #5CB85C;
}

.yellow {
    color: #F0AD4E;
}

.gray
{
	color: #999;
}

.purple
{
	color: #99F;
}
