<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ben's Field Study Noteboook">
    <meta name="author" content="Benjamin P">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('favicon') }}">
    <title>Ben's Field Study Site (Bird Viewer)</title>

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">
    <!-- <script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/pace.css') }}" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('homepage') }}">Ben's Field Study Site</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                {% if db_name == "birds" %}
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Birds <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="{{ url_for('db_reader', db_name='birds') }}">Bird viewer</a></li>
                            <li><a href="{{ url_for('quiz', db_name='birds')}}">Quiz</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Resources</li>
                            <li><a href="#" onclick="nbci();">NCBI Articles</a></li>
                            <li><a href="http://www.birds.cornell.edu/AllAboutBirds/birding123/identify" target="_blank">Bird ID</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Plants <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('db_reader', db_name='plants') }}">Plant viewer</a></li>
                            <li><a href="{{ url_for('quiz', db_name='plants')}}">Quiz</a></li>
                            <!-- <li class="dropdown-header">Resources</li> -->
                            <!-- <li><a href="#">Kahoot</a></li> -->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Reptiles &amp; Amphibians <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('db_reader', db_name='reptilesamphibians') }}">Reptiles &amp; Amphibians viewer</a></li>
                            <li><a href="{{ url_for('quiz', db_name='reptilesamphibians')}}">Quiz</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Mammals <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='mammals') }}">Mammals viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='mammals')}}">Quiz</a></li>
                    </ul>
                </li>
                {% elif db_name == "plants" %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Birds <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='birds') }}">Bird viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='birds')}}">Quiz</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Resources</li>
                        <li><a href="#" onclick="nbci();">NCBI Articles</a></li>
                        <li><a href="http://www.birds.cornell.edu/AllAboutBirds/birding123/identify" target="_blank">Bird ID</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Plants <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="{{ url_for('db_reader', db_name='plants') }}">Plant viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='plants')}}">Quiz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Reptiles &amp; Amphibians <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='reptilesamphibians') }}">Reptiles &amp; Amphibians viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='reptilesamphibians')}}">Quiz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Mammals <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='mammals') }}">Mammals viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='mammals')}}">Quiz</a></li>
                    </ul>
                </li>
                {% elif db_name == "reptilesamphibians" %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Birds <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='birds') }}">Bird viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='birds')}}">Quiz</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Resources</li>
                        <li><a href="#" onclick="nbci();">NCBI Articles</a></li>
                        <li><a href="http://www.birds.cornell.edu/AllAboutBirds/birding123/identify" target="_blank">Bird ID</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Plants <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='plants') }}">Plant viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='plants')}}">Quiz</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Reptiles &amp; Amphibians <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="{{ url_for('db_reader', db_name='reptilesamphibians') }}">Reptiles &amp; Amphibians viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='reptilesamphibians')}}">Quiz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Mammals <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='mammals') }}">Mammals viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='mammals')}}">Quiz</a></li>
                    </ul>
                </li>
                {% elif db_name == "mammals" %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Birds <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='birds') }}">Bird viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='birds')}}">Quiz</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Resources</li>
                        <li><a href="#" onclick="nbci();">NCBI Articles</a></li>
                        <li><a href="http://www.birds.cornell.edu/AllAboutBirds/birding123/identify" target="_blank">Bird ID</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Plants <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='plants') }}">Plant viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='plants')}}">Quiz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Reptiles &amp; Amphibians <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='reptilesamphibians') }}">Reptiles &amp; Amphibians viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='reptilesamphibians')}}">Quiz</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Mammals <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="{{ url_for('db_reader', db_name='mammals') }}">Mammals viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='mammals')}}">Quiz</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Birds <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='birds') }}">Bird viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='birds')}}">Quiz</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Resources</li>
                        <li><a href="#" onclick="nbci();">NCBI Articles</a></li>
                        <li><a href="http://www.birds.cornell.edu/AllAboutBirds/birding123/identify" target="_blank">Bird ID</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Plants <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='plants') }}">Plant viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='plants')}}">Quiz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Reptiles &amp; Amphibians <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='reptilesamphibians') }}">Reptiles &amp; Amphibians viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='reptilesamphibians')}}">Quiz</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Mammals <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('db_reader', db_name='mammals') }}">Mammals viewer</a></li>
                        <li><a href="{{ url_for('quiz', db_name='mammals')}}">Quiz</a></li>
                    </ul>
                </li>
                {% endif %}
                </ul>
                <ul class="nav navbar-nav" style="float: right">
                    <li><a href="#" onclick="alert('Coming in a future update');">Update Log</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <div class="starter-template">
            <div class="row">
                <div class="col-md-12">
                    <div id="alert" class="alert alert-danger hidden" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <!-- TODO: Keep on screen when using mobile device -->
                <div class="col-md-2 col-md-offset-10">
                    <ul class="pagination">
                        <li class="active">
                            <a id="bShowList" href="#"><i class="fa fa-list" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a id="bShowGrid" href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div id="showGrid" class="col-md-12 hide">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <!-- <label class="pull-right">
                                Search:
                                <input id="inputGrid" type="search" class="clearable form-control input-sm" placeholder="" autocomplete="off">
                            </label> -->
                        </div>
                    </div>
                    <div class="row is-flex"></div>
                </div>
                <div id="showList" class="col-md-12 table-responsive">
                    <table id="dataTable" class="table table-striped table-bordered bird-list">
                        <thead>
                            <tr id="column_names"></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <footer class="footer">
                All media belongs to their respective owner(s).
            </footer>

            <!-- Modal -->
            <div class="modal fade" id="orgModal" tabindex="-1" role="dialog" aria-labelledby="orgModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header fade">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title org_name" id="orgModalLabel">Bird Name</h4>
                        </div>
                        <div class="modal-body fade">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-thumbnail" src="">
                                    <br />
                                    <br />
                                        <span>ID: <span title="ID" class="id">ID</span></span>
                                        <br />
                                        <span>Scientific Name: <i><span title="Scientific Name" class="scientific_name">Scientific Name</span></i></span>
                                        <!-- <br />
                                        <span>Order: <span title="Order" class="order"><i>Order</i></span></span> -->
                                        <br />
                                        <span>Family: <i><span title="Family" class="family">Family</span></i></span>
                                    <br />
                                    <br />
                                    <span title="Audio clip" class="audio_clip"></span>
                                    <br />
                                </div>
                                <div class="col-md-6">
                                    <p class="modal-description">Description</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span class="pull-left copyright">All media belongs to their respective owner(s).</span>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script> window.jQuery || document.write("<script src=\"{{ url_for('static', filename='js/jquery.min.js') }}\"><\/script>")</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <!-- Tables -->
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet" />

    <script>
        const DB_VERSION = {{ db_version }};
        const DB_NAME = "{{ db_name }}";
        const PATH_API = "/api/get-info/{{ db_name }}/";
        const PATH_AUDIO = "{{ url_for('static', filename='sounds/') }}{{ db_name }}/";
        const PATH_IMAGES = "{{ url_for('static', filename='imgs/') }}{{ db_name }}/thumbnails/";

        $(document).ready(function() {
            $.getMultiScripts = function(arr, path) {
                var _arr = $.map(arr, function(scr) {
                    return $.getScript((path||"") + scr);
                });
                _arr.push($.Deferred(function(deferred){
                    $( deferred.resolve );
                }));
                return $.when.apply($, _arr);
            }

            {% if config.DEBUG %}
            var script_arr = [
                "{{ url_for('static', filename='js/tools.js')|autoversion }}",
                "{{ url_for('static', filename='js/orgs.js')|autoversion }}",
                "{{ url_for('static', filename='js/storage.js')|autoversion }}"
            ]
            {% else %}
            var script_arr = [
                "{{ url_for('static', filename='js/tools.min.js')|autoversion }}",
                "{{ url_for('static', filename='js/orgs.min.js')|autoversion }}",
                "{{ url_for('static', filename='js/storage.min.js')|autoversion }}"
            ]
            {% endif %}
            var orgs;
            var table;
            $.getMultiScripts(script_arr).done(function() {
                try {
                    if(checkLocalStorage()) {
                        $.when(validateStorage(DB_NAME)).done(function(data) {
                            window.orgs = data.orgs;
                            window.table = data.table;
                            for(x=0; x < data.table.length; x++) {
                                if(data.table[x] !== "description") {
                                    $("#column_names").append("<th>" + titleCase(data.table[x].replace("_", " ")) + "</th>")
                                }
                            }
                            displayOrganisms(data.orgs);
                        });
                    }
                } catch(e) {
                    console.error(e);
                        ans = confirm("Unable to validate local data. Would you like to clear localStorage?");
                        if(ans) {
                            window.localStorage.clear();
                            location.reload();
                        }
                }
                {% if config.DEBUG %}
                    $("#bShowGrid").trigger("click");
                {% endif %}
            }).fail(function(jqxhr, settings, exception) {
                alert("An error occured getting or running the needed js files ("  + jqxhr.status + " - " + settings + ") ");
                console.error("An error occured getting or running the needed js files ("  + jqxhr.status + " - " + settings + ") ");
                console.debug(jqxhr.responseText);
            });
        })
    </script>
    {% if not config.DEBUG %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-62452305-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>
</html>
